@use '@styles/mixins.scss' as *;

.marker {
  width: 28px;
  height: 28px;
  @include flex-center;
  cursor: default;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
