@use '@styles/mixins.scss' as *;

.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.errorContainer {
  @include flex-center;
  width: 100%;
  height: 100%;
  color: $color-text-primary;
  font-size: $font-size-lg;
  text-align: center;
  padding: $spacing-xl;
}
