@use '@styles/mixins.scss' as *;

.marker {
  width: 32px;
  height: 32px;
  @include flex-center;
  cursor: pointer;
  @include transition(transform, $transition-fast);
  filter: drop-shadow($shadow-md);
  z-index: $z-index-base;

  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
